@keyframes spiner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.hide {
  animation: hide 0.5s forwards;
}

@keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.decor {
  position: absolute;
  width: 40%;
  height: 40px;
  background-color: #242424;
  transform: skew(-45deg);
}
.decor-right {
  border-top: 2px solid #f58300;
  border-left: 2px solid #f58300;
  bottom: -2px;
  right: -10%;
}
.decor-left {
  border-bottom: 2px solid #f58300;
  border-right: 2px solid #f58300;
  left: -10%;
  top: -2px;
}

.btn-effect {
  box-shadow: -2px 2px #ebebeb, 5px -5px #f58300;
  transition: box-shadow 0.5s;
}
.btn-effect:hover {
  box-shadow: 2px -2px #ebebeb, -5px 5px #f58300;
}

.sorted {
  display: none;
}

.sorted-start {
  animation: sortedhide 0.5s forwards;
}

@keyframes sortedhide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.sorted-back {
  animation: sortedshow 0.5s forwards;
}

@keyframes sortedshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(231, 231, 231);
  background-color: #242424;
}

img {
  width: 100%;
  height: auto;
}

span {
  font-size: 1rem;
}

.loading-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  z-index: 400;
  transition: opacity 0.5s;
}
.loading-screen__img {
  width: 200px;
  height: 200px;
  transform: translateY(-20%);
  text-align: center;
}
.loading-screen__spiner {
  width: 60px;
  height: 60px;
  border: 10px solid #ebebeb;
  border-top-color: #f58300;
  border-radius: 50%;
  animation: spiner 1s ease infinite;
}

.navigation {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  z-index: 50;
}
.navigation-item {
  list-style-type: none;
  display: flex;
}
.navigation-item__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ebebeb;
  border-bottom: 2px solid transparent;
  transition: border 0.4s;
}
.navigation-item__link::first-letter {
  color: #f58300;
  font-weight: bold;
}
.navigation-item__link:hover {
  border-bottom: 2px solid #f58300;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../img/tokyo_S.jpg);
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.header__blur {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.header__title {
  padding: 20px;
  font-size: 4rem;
  z-index: 2;
}
.header__text {
  font-size: 1.5rem;
  z-index: 2;
}

.about {
  border-top: 2px solid #f58300;
}
.about--edit {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 6rem 0;
}
.about__img {
  margin: 2rem;
  min-width: 200px;
  max-width: 400px;
}
.about__text {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.about__text--title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.about__text--title::first-letter {
  color: #f58300;
  font-weight: bold;
}
.about__text--main {
  padding: 1rem;
  box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
  text-align: justify;
  font-size: 1.2rem;
}

.skills {
  position: relative;
  height: 200px;
  background-image: url(../img/background_1920.jpg);
  text-align: center;
  border-top: 2px solid #f58300;
  border-bottom: 2px solid #f58300;
  background-attachment: fixed;
  overflow: hidden;
}
.skills__tab {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.skill {
  font-size: 3rem;
  color: #f58300;
}

.projects {
  padding: 6rem 0;
}
.projects-window {
  margin: 2rem;
}
.projects-window .projects-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
  padding: 1rem;
  border: 2px solid #f58300;
  background-image: url(../img/background_1920.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 0px 10px black;
}
.projects-window .projects-buttons__filter {
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: #242424;
  color: #ebebeb;
  border: 2px transparent;
  cursor: pointer;
}
.projects-window .projects-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
}
.projects-window .projects-menu__card {
  position: relative;
  margin: 1rem;
  overflow: hidden;
  width: 250px;
  height: 270px;
}
.projects-window .projects-menu__card:hover .projects-menu__card-text {
  opacity: 0;
  visibility: hidden;
}
.projects-window .projects-menu__card:hover .projects-menu__card-link {
  opacity: 1;
  visibility: visible;
}
.projects-window .projects-menu__card-img {
  height: 100%;
}
.projects-window .projects-menu__card-text {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6117647059);
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 50px rgb(0, 0, 0);
  transition: opacity 0.5s, visibility 0.5s;
}
.projects-window .projects-menu__card-text-title {
  font-size: 1.5rem;
  padding: 1rem;
}
.projects-window .projects-menu__card-text-paragraph {
  padding: 0 1rem 1rem 1rem;
}
.projects-window .projects-menu__card-link {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  width: 70%;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.747);
  text-decoration: none;
  transform: translateX(-50%);
  color: #ebebeb;
  transition: opacity 0.5s, visibility 0.5s, box-shadow 0.5s;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-top: 2px solid #f58300;
  border-bottom: 2px solid #f58300;
  overflow: hidden;
}
.footer__img {
  width: 100px;
  height: auto;
}
.footer__links {
  margin-bottom: 2rem;
}
.footer__links a {
  text-decoration: none;
  color: #f58300;
  padding: 1rem;
}
.footer__links a:hover {
  color: #ebebeb;
}

@media (max-width: 767px) {
  .navigation-button {
    position: fixed;
    width: 3rem;
    height: 3rem;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: transparent;
    z-index: 51;
    cursor: pointer;
  }
  .navigation-button__elements {
    position: absolute;
    top: 30%;
    left: 13%;
    background-color: #f58300;
    height: 0.2rem;
    width: 2rem;
    transform: skewX(45deg);
  }
  .navigation-button__elements::before, .navigation-button__elements::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
  }
  .navigation-button__elements::after {
    width: 2rem;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #f58300;
  }
  .navigation-button__elements::before {
    width: 2rem;
    top: 1rem;
    right: 1rem;
    background-color: #ebebeb;
  }
  .navigation {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/background.jpg);
    background-size: cover;
    transform: translateX(110%);
    transition: transform 0.5s;
  }
  .navigation-item__link {
    font-size: 1.5rem;
    padding: 1.2rem 2rem;
  }
  .show {
    transform: translateX(0);
  }
}
@media (min-width: 576px) {
  .projects-window .projects-menu__card {
    width: 300px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .navigation-button {
    display: none;
  }
  .header {
    background-image: url(../img/tokyo_L.jpg);
  }
  .background {
    position: fixed;
    right: -40px;
    width: 55%;
    height: 57px;
    transform: skew(45deg);
    background-image: url(../img/background_1920.jpg);
    background-position: 0 5%;
    z-index: 19;
  }
  .background::before, .background::after {
    content: "";
    position: relative;
    display: inline-block;
    height: 100%;
  }
  .background::after {
    width: 10px;
    left: -20px;
    background-color: #f58300;
  }
  .background::before {
    width: 5px;
    left: -30px;
    background-color: #ebebeb;
  }
  .navigation {
    align-items: center;
    padding: 0rem 4rem;
    right: 0;
    width: 50%;
    overflow: hidden;
  }
  .navigation-item__link {
    padding: 1.2rem 1.2rem;
  }
  .about--edit {
    flex-direction: row;
  }
  .about__img {
    min-width: 200px;
  }
  .about__text--title {
    font-size: 2rem;
  }
  .about__text--main {
    font-size: 1.2rem;
  }
  .skill {
    font-size: 4rem;
  }
}/*# sourceMappingURL=main.css.map */